@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Raleway";
    src: url("/assets/font/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Raleway";
    src: url("/assets/font/Raleway-Italic-VariableFont_wght.ttf")
      format("truetype");
    font-weight: 100 900;
    font-style: italic;
  }

  html {
    font-family: "Raleway", sans-serif;
  }
}
